<div id="login" fxLayout="column" style="overflow:hidden">
    <div class="top-button">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="login()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{'LOGIN.LOGIN'| translate }}</span>
        </button>
        <button mat-menu-item (click)="setup()">
                <mat-icon>settings</mat-icon>
                <span>{{'LOGIN.Setup'| translate }}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="language">
            <mat-icon>public</mat-icon>
            <span>{{'COMMON.LANGUAGE'| translate }}</span>
        </button>
        </mat-menu>
        <mat-menu #language="matMenu">
                <button mat-menu-item (click)="setTranlate('zh')">{{'COMMON.CHINESE'| translate }}</button>
                <button mat-menu-item (click)="setTranlate('en')">{{'COMMON.ENGLISH'| translate }}</button>
        </mat-menu>
    </div>
    <div class="CWASAPanel av0" align="center"  style="flex:1"></div>
    <div style="text-align:center;">
            <speech2text [props]='props'></speech2text>
     </div> 
</div>
     
