/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;
}

body{
    height: 97%;
    min-height: 97%;
    padding:10px;
    margin:0px;
    font-family: Roboto, Arial, sans-serif;
    background-color: #f5f5f5;
    overflow: hidden;
}

.all-page{
    width:100vw;
    height:100vh;
}

.gray{
    background-color: #f5f5f5;
}